@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,600;0,800;0,900;1,300;1,500;1,700&display=swap');
*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
    outline: 0;
    border: none;
    text-decoration: none;
    font-family: "Poppins",sans-serif ;
    color: black;
}

body{
	font-family: sans-serif;
	background: #dfe9f5;
}
.side-navigation-bar-container{
    position: relative;
}
nav{
    position: absolute;
    top: 0;
    bottom: 0;
    height: 100%;
    left: 0;
    background: #ffff;
    width: 80px;
    overflow: hidden;
    transition: width 0.2s linear;
    box-shadow: 0 20px 35px rgba(0, 0, 0, 0.1);
}

.logo{
    text-align: center;
    display: flex;
    transition: all 0.5s ease;
    margin: 10px 0 0 10px;
}

.logo img{
    align-items: center;
    position: relative;
    display: inline-block;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    overflow: hidden;
    }

.logo span{
    font-weight: bold;
    padding-left: 15px;
    font-size: 18px;
    text-transform: uppercase;
}

a{
    position: relative;
    color: rgb(85, 83, 83);
    font-size: 14px;
    display: table;
    width: 300px;
    padding: 10px
}

.fas{
    position: relative;
    width: 70px;
    height: 40px;
    top: 14px;
    font-size: 20px;
    text-align: center;
}

.nav-item{
    position: relative;
    top: 12px;
    margin-left: 10px;

}

a:hover{
    background: #eee;
}
nav:hover{
    width: 280px;
    transition: all 1.0s ease;
}

.log-out{
    position: absolute;
    bottom: 0;
}